<section class="section-about">
  <div class="container">
    <div class="inner text-center">
      <span class="badge-gold">Family Owned Since 1979</span>
      <h2 class="section-heading">Serving NYC &amp; NJ Since 1979</h2>
      <p class="section-subheading">
        Roma Syrups and Beverage Systems has been providing top-shelf service and products to bars, lounges, diners,
        restaurants, pizzerias, catering halls and other establishments for over 30 years. Roma Syrups is centrally
        located in Brooklyn, NY. Now servicing New Jersey from our new Marlboro, NJ location. Family owned and operated
        since 1979. Serving Staten Island, Manhattan, Brooklyn, Queens, Bronx, Connecticut and New Jersey.
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About",
  "settings": [],
  "presets": [
    {
      "name": "About",
      "category": "Text"
    }
  ]
}
{% endschema %}
